<%- include("./partials/head") %>
<body>

<div class="site-container full-screen d-flex h-100 mx-auto flex-column">
    <%- include("./partials/header") %>
    <main class="flex-grow-1">
        <%- include("./partials/userNav") %>
        <div class="container  d-flex flex-column align-items-stretch mx-1 my-2">

            <%- include("./partials/adminDashboardSwitch") %>

            <% if (reports.length > 0) { %>

                <h1 class="neon-text my-3">Reports</h1>
            
                <% for (let report of reports) { %>
                    <div class="admin-report-wrapper d-flex flex-column align-items-stretch neon-border p-3">
                        <div class="post-card m-3 p-3">
                            <p class="lead"><%= report.comment.content %></p>
                            <div class="d-flex">
                                <p>Written by: <span class="fw-bold mx-2"><%= report.comment.author.username %></span></p>
                                <div class="d-flex ml-auto gap-1">
                                    <p class="fw-bold text-right"><%= report.comment.createdAgo %></p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-wrapper">
                            <div class="admin-reason d-flex">
                                <h5 class="fw-bold mx-2">Reason: </h5>
                                <p class="flex-grow"><%= report.reason %></p>
                            </div>
                            <div class="admin-controls d-flex justify-content-center gap-2">
                                <a href="/posts/resolve-report-delete-:reportId" class="btn btn-lg btn-primary">Delete Post</a>
                                <a href="/posts/resolve-report-remove-:reportId" class="btn btn-lg btn-primary">Resolve Report</a>
                            </div>
                        </div>
                        
                    </div>
                <% } %>

            <% } else { %>

                <h1 class="neon-text text-center my-3">Great News</h1>
                <p class="lead text-center">There are currently no reports to resolve</p>

            <% } %>

        </div>
    </main>
    <%- include("./partials/foot") %>
</div>

</body>

