<%- include("./partials/head") %>

<body>

<div class="site-container d-flex h-100 mx-auto flex-column">
    <%- include("./partials/header") %>
    <main class="inner flex-grow-1">
        <%- include("./partials/userNav") %>
        <div class="d-flex flex-column mx-2 my-3">
            <h1 class="neon-text my-2 text-center"><%= author %>'s Posts</h1>
            <div class="card-deck">
                <% if (posts.length > 0) { %>

                    <% for (let post of posts) { %>
                        <div class="post-card m-3 p-3">
                            <h3 class="fw-bold"><%= post.title %></h3>
                            <p class="lead"><%= post.content %></p>
                            <div class="d-flex">
                                <p>Written by: <a href="/posts/user/<%=post.author.id%>" class="link fw-bold mx-2"><%= post.author.username %></a></p>
                                <div class="d-flex ml-auto gap-1">
                                    <p class="fw-bold text-right"><%= post.createdAgo %></p>

                                    <a href="/posts/<%=post.id%>">
                                        <svg class="header-logo" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#eee" stroke="#eee"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><desc>Comment icon</desc> <g id="ðŸ”-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="ic_fluent_comment_24_regular" fill="#eee" fill-rule="nonzero"> <path d="M5.25,18 C3.45507456,18 2,16.5449254 2,14.75 L2,6.25 C2,4.45507456 3.45507456,3 5.25,3 L18.75,3 C20.5449254,3 22,4.45507456 22,6.25 L22,14.75 C22,16.5449254 20.5449254,18 18.75,18 L13.0124851,18 L7.99868152,21.7506795 C7.44585139,22.1641649 6.66249789,22.0512036 6.2490125,21.4983735 C6.08735764,21.2822409 6,21.0195912 6,20.7499063 L5.99921427,18 L5.25,18 Z M12.5135149,16.5 L18.75,16.5 C19.7164983,16.5 20.5,15.7164983 20.5,14.75 L20.5,6.25 C20.5,5.28350169 19.7164983,4.5 18.75,4.5 L5.25,4.5 C4.28350169,4.5 3.5,5.28350169 3.5,6.25 L3.5,14.75 C3.5,15.7164983 4.28350169,16.5 5.25,16.5 L7.49878573,16.5 L7.49899997,17.2497857 L7.49985739,20.2505702 L12.5135149,16.5 Z" id="ðŸŽ¨-Color"> </path> </g> </g> </g></svg>
                                        <span class="sr-only">comments</span>
                                    </a>
                                    
                                    <a href="/posts/report-post-form-<%=post.id%>">
                                        <svg class="header-logo" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#dc3545" stroke="#dc3545"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M85.57,446.25H426.43a32,32,0,0,0,28.17-47.17L284.18,82.58c-12.09-22.44-44.27-22.44-56.36,0L57.4,399.08A32,32,0,0,0,85.57,446.25Z" style="fill:none;stroke:#dc3545;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M250.26,195.39l5.74,122,5.73-121.95a5.74,5.74,0,0,0-5.79-6h0A5.74,5.74,0,0,0,250.26,195.39Z" style="fill:#0d6efd;stroke:#dc3545;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M256,397.25a20,20,0,1,1,20-20A20,20,0,0,1,256,397.25Z" fill="#dc3545"></path></g></svg>
                                        <span class="sr-only">report post</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
            
                <% } else { %>
            
                    <div class="no-posts d-flex flex-column align-items-center my-5 mx-2">
                        <h1 class="neon-text fw-bold">Uh oh</h1>
                        <p class="lead fw-bold">We couldn't find any posts for this user</p>
                        <p>Click <a class="link" href="/">here</a> to go home.</p>
                    </div>
            
                <% } %>
            </div>
        </div>
    </main>
    <%- include("./partials/foot") %>
</div>

</body>